#welcomePage {
    margin: 5px;
    border: 5px, solid, purple;
    padding: 25px;
} 
a {
    display: block;
}
#tableForm {
    text-align: center;
}
#submit {
    text-align: center;
    width: 25%;
    margin:35px 0px 0px 0px;
    padding: 10px;
    font-size: 30px;
    color: blueviolet;
    background: darkcyan;
}
#navigationTopLeft {
    width: 15%; 
    padding: 10px;
    text-align: center; 
    color: rgb(58, 226, 43);
    background-color: rgb(48, 140, 238);
    font-size: 50px;
}
.headingSales {
    font-weight: bold;
    font-size: 20px;
}
#salmonCookiesTitle {
    margin: 30px;
    border: 5px, solid, crimson;
    font-weight: bold;
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
h2 {
    margin: 10px;
    border-right: 5px, dotted, purple;
    font-size: 25px;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Rock Salt', sans-serif;
    font-weight: bold;
    margin: 5px;
}
body {
    background-color: bisque;
    background-image: center center;
    background-image: cover no-repeat;
}
img {
    /* left: 25%;
    align-content: center;
    position: relative; */
    /* image-resolution: 100px; */
}
.tables {
    margin:50px;
    position: relative;
    left: 6%;
}
tr, th, td{
    padding:10px;
    border: 2px solid rgb(31, 24, 170);
    font-size: 24px;
}
th {
    font-weight: bold;
}
input:invalid {
    border: .5px dashed red;
}
input:valid {
    border: 2px solid black;
}
input {
    font-size: 18px;
    font-weight: bold;
}
label {
    font-weight: bold;
    font-size: 20px;
}
ul {
    display: inline-block;
    margin: 70px;
}
#boldMe {
    font-weight: bold;
    margin: 2px;
}
ol {
    margin: 40px;
}
#slideShowContainer {
  height: 480px;
  text-align: center;
}
#slideShow {
    margin: 0 auto;
    opacity: .8;
}
#originStory {
    margin: 0px 0px 0px 400px;
    width: 750px;
    font-size: 25px;
    line-height: 30px;
}
audio {
    visibility: hidden; 
    width: 1px;
    height: 1px;
}